
<div class="container my-4">
    <h2>Quản lý Thể loại</h2>
    <a href="/" class="btn btn-primary mb-3">🏠 Về trang chủ</a> <br>
    <a href="/add-genre" class="btn btn-success mb-3">Thêm Thể loại</a>
    <table class="table">
        <thead>
            <tr>
                <th>Tên thể loại</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <% genres.forEach(genre => { %>
                <tr>
                    <td><%= genre.name %></td>
                    <td>
                        <a href="/edit-genre/<%= genre._id %>" class="btn btn-warning btn-sm">Sửa</a>
                        <a href="/delete-genre/<%= genre._id %>" class="btn btn-danger btn-sm">Xóa</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

